appdirs==1.4.4
blinker==1.8.2
Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
gunicorn==22.0.0
idna==3.7
importlib_metadata==8.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mutagen==1.47.0
packaging==24.1
pycryptodomex==3.20.0
pyee==11.1.0
requests==2.32.3
tqdm==4.66.4
typing_extensions==4.12.2
urllib3==1.26.19
websockets==10.4
Werkzeug==3.0.3
yt-dlp==2024.7.16
zipp==3.19.2
